/*----------------------------------------------CONFIGURACIONES GENERALES------------------------------------------------*/
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    margin: 0;
    color: #e6e6e6;
    background-color: #000c1a;
    user-select: none;
    overflow-x: hidden;
}
h1{
    font-size: 3.5rem;
    line-height: 1; 
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.3rem;
}
p{
    font-size: 13px;
    line-height: 1.5; 
}
a{
    color: #e6e6e6;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}
li{ 
    list-style: none;
}
.container{
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
}
/*--------------------------------------------------MENU DE NAVEGACION---------------------------------------------------*/
header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1100;
    position: sticky;
    background-color: #2a0202;
}
.header{
    background-color: #2a0202;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
}
.header__logo{
    display: block;
    z-index: 2;
    width: 35px;
    height: 35px;
    margin: 10px;
}
.header__logo-img{
    width: 100%;
    margin-right: 8px;
    border-radius: 100%;
    background-color: #ffffff;
}
.header__logo-info{
    align-items: center;
}
.header__nav{
    background-color: #2a0202f8;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1;
}
.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}
.header a{
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    padding: 5px;
}
.header__nav-item a:hover{
    transform: translateY(-2px) scale(1.05);
    border-bottom: 1px solid #5c5100;
}
.header__check{
    border-bottom: 2px solid #766800;
}
.header__checkbox{
    display: none;
}
.header__checkbox:checked ~ .header__nav{
    display: flex;
}
.header__checkbox:checked ~ .header__open-nav-button{
    color: #baaa33;
}
.header__open-nav-button{
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    margin: 10px 20px;
}
.header__open-nav-button:hover{
    color: #baaa33;
}
/*-------------------------------------------------MENU DE NAVEGACION----------------------------------------------------*/
/*--------------------------------------------------------HEROS----------------------------------------------------------*/
.hero{
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 90dvh;
    width: 100%;
}
.hero-img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 10;
    object-fit: cover;
    position: relative;
}
.hero-info{
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    z-index:20;
    animation: aparecer 4s both;
}
.hero-info h2{
    color:#baaa33;
}
.subtitle-container{
    max-width: 880px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}
.subtitle{
    color: #baaa33;
}
/*--------------------------------------------------------HEROS----------------------------------------------------------*/
/*-------------------------------------------------------BOTONES---------------------------------------------------------*/
.scroll{
    width: 40px;
    right: 20px;
    bottom: 20px;
    border-radius: 2px;
    opacity: 0.5;
    border: none;
    z-index: 999;
    position: fixed;
    background-color: #6a6a6a;
    transition: all .4s ease-in-out;
}
.scroll:hover{
    opacity: 1;
}
.scroll-icon{
    width: 100%;
    height: 100%;
}
.whatsapp{
    left: 20px;
    width: 40px;
    bottom: 20px;
    border: none;
    z-index: 999;
    position: fixed;
    background-color: transparent;
    animation: movimiento 1s infinite ease-in;
}
.whatsapp-icon{
    width: 100%;
    height: 100%;
}
.btn-1{
    border: 1px solid #baaa33;
    padding: 4px 14px;
    border-radius: 4px;
    background-color: #baaa33;
}
.btn-1 a{
    color: #0f0f0f;
    display: flex;
}
.btn-1:hover{
    background-color: #eedd5d;
}
.btn-2{
    padding: 4px 14px;
    border: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: transparent;
}
.btn-2 a{
    color: #e6e6e6;
    display: flex;
}
.btn-2 a:hover{
    color: #baaa33;
}
/*------------------------------------------------------BOTONES----------------------------------------------------------*/
/*-------------------------------------------------------FOOTER----------------------------------------------------------*/
.footer__list{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    background: linear-gradient(#00030a);
}
.footer__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-bottom: 2px solid #011328;
}
.footer__item-icon-uptaeb{
    width: 100px;
    margin-bottom: 10px;
}
.footer__item-icon-lca{
    width: 140px;
    padding: 4px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 100%;
}
.footer__item-icon-dev{
    width: 70px;
}
/*-------------------------------------------------------FOOTER----------------------------------------------------------*/
/*----------------------------------------------CONFIGURACIONES GENERALES------------------------------------------------*/


.n{
    background: linear-gradient(90deg, #000000d8,#00000092), url("../img/Asientos-teatro.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    display: flex;
}
.n-info{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    width: 800px;
}
.n-info h3{
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
}

/*----------------------------------------------------SECCION INICIO-----------------------------------------------------*/
/*------------------------------------------------------HERO INICIO------------------------------------------------------*/
.inicio__hero{
    width: 100%;
    overflow: hidden;
}
.inicio__hero-carrusel-container{
    width: 100%;
    height: 100dvh;
    position: relative;
}
.inicio__hero-carrusel-list{
    height: 100%;
    width: 300%;
    display: flex;
    animation: carrusel 15s infinite;
}
.inicio__hero-carrusel-item{
    width: 100%;
    height: 100%;
    background-color: #000000;
}
.inicio__hero-carrusel-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
/*------------------------------------------------------HERO INICIO------------------------------------------------------*/
/*--------------------------------------------------------ENFOQUE--------------------------------------------------------*/
.inicio__enfoque{
    text-align: center;
    width: 100%;
    margin: 40px auto;
    padding: 0 20px;
}
.inicio__enfoque-title{
    color:#baaa33;
}
.inicio__enfoque-list{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
    gap: 25px;
}
.inicio__enfoque-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    gap: 10px;
    width: 100%;
    padding: 20px 0;
    max-width: 380px;
    border-radius: 8px;
    background-color: #011328;
}
.inicio__enfoque-item:hover{
    box-shadow: 0px 2px 3px 0 #766800;
    transform: translateY(-2px) scale(1.05);
}
.inicio__enfoque-item-icon{
    width: 50px;
}
.inicio__enfoque-item-info{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*--------------------------------------------------------ENFOQUE--------------------------------------------------------*/
/*------------------------------------------------------INSCRIPCION------------------------------------------------------*/
.inicio__inscripcion{
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(#00030a, #2a0202) ;
}
.inicio__inscripcion-list{
    justify-content: center;
    gap: 25px;
    padding: 0 20px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.inicio__inscripcion-item{
    display: flex;
    text-align: left;
    background-color: #011328;
    border-radius: 10px;
    max-width: 380px;
    padding: 30px;
    width: 100%;
    gap: 20px;
}
.inicio__inscripcion-item-img{
    width: 70px;
}
.inicio__inscripcion-item-info{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}
.inicio__inscripcion-item-info span a{
    color: #888888;
    text-decoration: underline;
}
.inicio__inscripcion-item-info span a:hover{
    color: #1a4f8b;
}
/*------------------------------------------------------INSCRIPCION------------------------------------------------------*/
/*----------------------------------------------------SECCION INICIO-----------------------------------------------------*/



/*---------------------------------------------------SECCION NOSOTROS----------------------------------------------------*/
/*------------------------------------------------------HISTORIA---------------------------------------------------------*/
.nosotros__historia{
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #011328;
}
.nosotros__historia-img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center center;
}
.nosotros__historia-info-title{
    color: #baaa33;
}
.nosotros__historia-info{
    width: 100%;
    padding: 30px;
    display: flex;
    text-align: justify;
    flex-direction: column;
}
/*------------------------------------------------------HISTORIA---------------------------------------------------------*/
/*--------------------------------------------------------MVV------------------------------------------------------------*/
.nosotros__mvv{
    width: 100%;
    padding: 50px 30px;
    background: linear-gradient(#2a0202, #000c1a);
}
.nosotros__mvv-list{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: space-evenly;
}
.nosotros__mvv-item{
    max-width: 450px;
}
.nosotros__mvv-item-img{
    width: 100%;
}
.mvv-title{
    color: #baaa33;
}
/*--------------------------------------------------------MVV------------------------------------------------------------*/
/*------------------------------------------------------DOCENTES---------------------------------------------------------*/
.nosotros__docentes{
    background: linear-gradient(#000c1a, #2a0202);
    flex-direction: column;
    text-align: center;
    display: flex;
    padding: 40px 30px;
}
.nosotros__docentes-title{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid #baaa33;
}
.nosotros__docentes-list{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 20px;
}
.nosotros__docentes-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    gap: 8px;
}
.nosotros__docentes-item-img{
    object-fit: cover;
    border-radius: 100%;
    width: 100%;
    transition-duration: 0.4s;
}
.nosotros__docentes-item-img:hover{
    box-shadow: 0px 3px 4px 0 #e6e6e6;
    transform: translateY(-2px) scale(1.04);
}
.nosotros__docentes-item h3{
    width: 100%;
}
.nosotros__docentes-item h4{
    width: 65%;
    align-items: center;
    border-bottom: 3px solid #baaa33;
}
/*------------------------------------------------------DOCENTES---------------------------------------------------------*/
/*---------------------------------------------------SECCION NOSOTROS----------------------------------------------------*/



/*---------------------------------------------------SECCION PROGRAMAS---------------------------------------------------*/
/*-------------------------------------------------------PROGRAMAS-------------------------------------------------------*/
.programas{
    text-align: center;
    padding: 40px 10px;
    background: linear-gradient(#000c1a,#00030a);
}
.programas-list{
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    padding: 10px 0;
    gap: 30px;
} 
.programas-item{
    flex-direction: column;
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 8px;
    height: 200px;
    width: 100%;
    max-width: 400px;
    background-color: #000000e0;
    transition-duration: 0.5s;
}
.programas-item:hover{
    box-shadow: 0px 2px 3px 0 #766800;
    transform: translateY(-2px) scale(1.05);
}
.programas-item-img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.programas-info{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
}
.programas-info ul{
    display: flex;
    padding-left: 40px;
    flex-direction: column;
}
.programas-info ul li{
    list-style: square;
}
/*-------------------------------------------------------PROGRAMAS-------------------------------------------------------*/
/*---------------------------------------------------SECCION PROGRAMAS---------------------------------------------------*/



/*----------------------------------------------------SECCION CLASES-----------------------------------------------------*/
/*--------------------------------------------------------CLASES---------------------------------------------------------*/
.clases{
    background: linear-gradient(#000c1a,#00030a);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.clases__list{
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
    width: 100%;
}
.clases__item:nth-child(2), .clases__item:nth-child(4){
    background-color: #2a0202;
    flex-flow: column-reverse;
}
.clases__item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #011328;
}
.clases__item-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.clases__item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 35px;
    text-align: justify;
    width: 100%;
    gap: 10px;
}
.clases__-item-btn{
    display: flex;
    gap: 10px;
}
/*--------------------------------------------------------CLASES---------------------------------------------------------*/
/*----------------------------------------------------SECCION CLASES-----------------------------------------------------*/



/*----------------------------------------------------SECCION GALERIA----------------------------------------------------*/
.galeria__main{
    background: linear-gradient(#000000,#000000, #011328);
}
/*--------------------------------------------------------GALERIA--------------------------------------------------------*/
.galeria__list{
    display: grid;
    grid-template-columns: repeat(auto fill, 1fr);
    grid-template-rows: 200px;
    grid-gap: 15px;
    padding: 40px;
    width: 100%;
}
.galeria__item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*--------------------------------------------------------GALERIA--------------------------------------------------------*/
.b{
    display: flex;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}
.b-info{
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    background: linear-gradient(#84000b, #060163);
}
.b-info-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.b-img{
    width: 80px;
}
/*----------------------------------------------------SECCION GALERIA----------------------------------------------------*/



/*----------------------------------------------------SECCION CONTACTO---------------------------------------------------*/
/*-----------------------------------------------------HERO CONTACTO-----------------------------------------------------*/
.contacto__hero{
    height: 40dvh;
}
/*-----------------------------------------------------HERO CONTACTO-----------------------------------------------------*/
.contacto__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 0px 40px;
    gap: 20px;
    margin-bottom: 40px;
}
.contacto__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.contacto__item{
    flex-direction: column;
    display: flex;
    gap: 10px;
    width: 100%;
}
.contacto__item-info{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 260px;
    padding: 20px;
    border-radius: 8px;
    background-color: #011328;
}
.contacto__item-icon-lca{
    background-color: #ffffff;
    border-radius: 100%;
    width: 90px;
}
.contacto__item-icon-whapp{
    width: 80px;
}
.contacto__item-redes-icon{
    width: 40px;
}
.contacto__item-icon-uptaeb{
    width: 100px;
}
.contacto__item-devs-icon{
    width: 80px;
}
/*----------------------------------------------------------MAPA---------------------------------------------------------*/
.contacto__academia-ubicacion{
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacto__academia-ubicacion-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacto__academia-ubicacion-mapa{
    width: 100%;
    height: 400px;
}
.contacto__academia-ubicacion-mapa iframe{
    width: 100%;
    height: 100%;
}
/*----------------------------------------------------------MAPA---------------------------------------------------------*/
/*----------------------------------------------------SECCION CONTACTO---------------------------------------------------*/
.download{
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    z-index: 999;
    padding: 15px;
    width: 160px;
    bottom: 20px;
    right: 20px;
    background-color: #007470;
}
.download:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
}
.download-btn{
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: transparent;
}
.download-link{
    gap: 10px;
    display: flex;
    align-items: center;
}
.download-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    gap: 3px;
    color: #e6e6e6;
}
.download-title{
    font-size: 0.8rem;
}
.download-span{
    font-size: 0.5rem;
}
.download-icon{
    width: 30px;
}
/*----------------------------------------------------SECCION CONTACTO---------------------------------------------------*/



/*------------------------------------------------------ANIMACIONES------------------------------------------------------*/
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes carrusel{
    0% { margin-left: 0; }
    30% { margin-left: 0; }

    35% { margin-left: -100%; }
    65% { margin-left: -100%; }

    70% { margin-left: -200%; }
    100% { margin-left: -200%; }
}
@keyframes movimiento{
    0% { transform: rotateZ(0deg) scale(1); }
    54% { transform: rotateZ(0deg) scale(1);}

    55% { transform: rotateZ(-6deg) scale(1.04); }
    60% { transform: rotateZ(-10deg) scale(1.04); }
    65% { transform: rotateZ(-6deg) scale(1.04); }
    70% { transform: rotateZ(-10deg) scale(1.06); }
    75% { transform: rotateZ(-6deg) scale(1.06); }
    80% { transform: rotateZ(-10deg) scale(1.06); }
    85% { transform: rotateZ(-6deg) scale(1.08); }
    90% { transform: rotateZ(-10deg) scale(1.08); }
    95% { transform: rotateZ(-6deg) scale(1.08); }
    100% { transform: rotateZ(-10deg) scale(1.08); }
}
/*------------------------------------------------------ANIMACIONES------------------------------------------------------*/
/*-------------------------------------------------------RESPONSIVE------------------------------------------------------*/
@media (min-width:700px){
    html{
    font-size: 12px;
    }
    .header__nav{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    }
    .header__nav-list{
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 60px;
    margin-right: 10px;
    }
    .header__open-nav-button{
    display: none;
    }
    .header__logo{
    width: 40px;
    height: 40px;
    }
    .footer__item{
    border-bottom: none;
    }
    .nosotros__historia{
    margin: 60px auto;
    flex-direction: row;
    }
    .programas-item{
    height: 230px;
    max-width: 420px;
    }
    .clases__item{
    flex-wrap: nowrap;
    width: 100%;
    }
    .clases__item-img{
    width: 50%;
    height: 300px;
    }
    .clases__item-info{
    width: 50%;
    }
    .clases__item:nth-child(2), .clases__item:nth-child(4){
    background-color: #2a0202;
    flex-flow: nowrap;
    }
    .galeria__list{
    grid-template-columns: repeat(4, 1fr);
    }
    .galeria__item-img{
    max-height: 260px;
    }
    .galeria__item:nth-child(1), .galeria__item:nth-child(5), .galeria__item:nth-child(9){
    grid-column-start: span 2;
    }
    .contacto__list{
    flex-direction: row;
    }
}
@media (min-width:1100px){
    html{
    font-size: 16px;
    }
    .header__nav-list{
    height: 70px;
    }
    .header__logo{
    width: 50px;
    height: 50px;
    }
    .btn-1 a,.btn-2 a{
    font-size: 1.2em;
    }
    .nosotros__historia-img, .nosotros__historia-info{
    width: 50%;
    }
    .programas-item{
    height: 270px;
    max-width: 480px;
    }
}
/*-------------------------------------------------------RESPONSIVE------------------------------------------------------*/