
/*----------------------------------------------CONFIGURACIONES GENERALES------------------------------------------------*/
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
}
body{
    overflow-x: hidden;
    margin: 0;
    color: #e6e6e6;
    background-color: #000c1a;
}
h1{
    font-size: 3.5rem;
    line-height: 1; 
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.3rem;
}
p{
    font-size: 1.2rem;
    line-height: 1.5; 
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
}
li{ 
    list-style: none;
}
.container{
    overflow: hidden;
    margin: 0 auto;
    max-width: 1400px;
}
/*--------------------------------------------------MENU DE NAVEGACION---------------------------------------------------*/
header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    position: sticky;
    background-color: #2a0202;
}
.header{
    background-color: #2a0202;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
}
.header__logo{
    display: block;
    z-index: 2;
    width: 50px;
    height: 50px;
    margin: 10px 20px;
}
.header__logo-img{
    width: 100%;
    margin-right: 12px;
    border-radius: 100%;
    background-color: #ffffff;
}
.header__logo-info{
    align-items: center;
}
.header__nav{
    background-color: #2a0202f8;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 1;
}
.header__nav-list{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}
.header a{
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    color: #e6e6e6;
    display: flex;
}
.header a:hover{
    transform: translateY(-2px) scale(1.05);
    color: #d7c74d;
}
.header__checkbox{
    display: none;
}
.header__checkbox:checked ~ .header__nav{
    display: flex;
}
.header__checkbox:checked ~ .header__open-nav-button{
    color: #baaa33;
}
.header__open-nav-button{
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    margin: 10px 20px;
}
.header__open-nav-button:hover{
    color: #baaa33;
}
/*-------------------------------------------------MENU DE NAVEGACION----------------------------------------------------*/
/*-------------------------------------------------------HERO------------------------------------------------------------*/
.hero{
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 90dvh;
    width: 100%;
}
.hero-img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 10;
    object-fit: cover;
    position: relative;
}
.hero-info{
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    max-width: 1100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: flex;
    z-index: 20;
    animation: aparecer 4s both;
}
.hero-info h2{
    color:#baaa33;
}
/*---------------------------------------------------------HERO----------------------------------------------------------*/
/*--------------------------------------------------------BOTONES--------------------------------------------------------*/
.scroll{
    width: 50px;
    right: 20px;
    bottom: 20px;
    border-radius: 2px;
    opacity: 0.5;
    border: none;
    z-index: 999;
    position: fixed;
    background-color: #6a6a6a;
    transition: all .4s ease-in-out;
}
.scroll:hover{
    opacity: 1;
}
.scroll-icon{
    width: 100%;
    height: 100%;
}
.whatsapp{
    width: 50px;
    left: 20px;
    bottom: 20px;
    position: fixed;
    border: none;
    z-index: 999;
    background-color: transparent;
}
.whatsapp-icon{
    width: 100%;
    height: 100%;
}
.btn-1{
    border: 1px solid #baaa33;
    padding: 7px 12px;
    border-radius: 4px;
    background-color: #baaa33;
}
.btn-1 a{
    color: #0f0f0f;
    display: flex;
}
.btn-1:hover{
    background-color: #eedd5d;
}
.btn-2{
    padding: 7px 12px;
    border: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: transparent;
}
.btn-2 a{
    color: #e6e6e6;
    display: flex;
}
.btn-2 a:hover{
    color: #baaa33;
}
/*-------------------------------------------------------BOTONES---------------------------------------------------------*/
/*-------------------------------------------------------FOOTER----------------------------------------------------------*/
.footer__derechos div{
    padding: 12px 0;
    background-color: #242424;
    justify-content: center;
    align-content: center;
    display: flex;
}
.footer__derechos-info{
    justify-content: center;
    align-content: center;
    display: flex;
    width: 80%;
}
/*-------------------------------------------------------FOOTER----------------------------------------------------------*/
/*----------------------------------------------CONFIGURACIONES GENERALES------------------------------------------------*/


/*----------------------------------------------------SECCION INICIO-----------------------------------------------------*/
/*------------------------------------------------------HERO INICIO------------------------------------------------------*/
.inicio__hero-info-logo{
    background-color: #e6e6e6;
    border-radius: 100%;
    width: 45vw;
    max-width: 280px;
}
.inicio__hero-info-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
/*------------------------------------------------------HERO INICIO------------------------------------------------------*/
/*--------------------------------------------------------ENFOQUE--------------------------------------------------------*/
.inicio__enfoque{
    text-align: center;
    width: 100%;
    margin: 60px auto;
    padding: 0 20px;
}
.inicio__enfoque-title{
    color:#baaa33;
}
.inicio__enfoque-list{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
    gap: 20px;
}
.inicio__enfoque-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    max-width: 340px;
    border-radius: 5px;
    background-color: #011328;
}
.inicio__enfoque-item-icon{
    width: 50px;
}
.inicio__enfoque-item-info{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*--------------------------------------------------------ENFOQUE--------------------------------------------------------*/
/*----------------------------------------------------NOSOTROS INICIO----------------------------------------------------*/
.inicio__nosotros{
    background-image: linear-gradient(#000000aa), url("../img/fondo\ textura\ cortina\ rojo.avif");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio__nosotros-info{
    width: 100%;
    max-width: 800px;
    text-align: center;
}
.inicio__nosotros-info p{
    padding: 10px
}
/*----------------------------------------------------NOSOTROS INICIO----------------------------------------------------*/
/*-------------------------------------------------------PREGUNTAS-------------------------------------------------------*/
.inicio__faq{
    margin: 60px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.inicio__faq-list{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 25px;
    width: 80%;
    max-width: 800px;
    gap: 15px;
}
.inicio__faq-item{
    width: 100%;
    color: #011328;
    display: block;
    text-align: left;
}
.inicio__faq-item-title{
    align-items: center;
    position: relative;
    cursor: pointer;
    display: flex;
    z-index: 20;
    padding: 10px 20px;
    background-color: #d7c74d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.inicio__faq-item input{
    display: none;
}
.inicio__faq-item-info{
    height: 0;
    z-index: 10;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #eddd63;
    transition: height 0.3s ease;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.inicio__faq-item-info p{
    padding: 20px;
}
.inicio__faq-item input:checked ~ .inicio__faq-item-info{
    transition: height 0.3s ease;
    height: 90px;
}
/*------------------------------------------------------PREGUNTAS--------------------------------------------------------*/
.n{
    background: linear-gradient(90deg, #000000d8,#00000092), url("../img/Asientos-teatro.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40dvh;
    display: flex;
}
.n-info{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    max-width: 1000px;
}
.n-info h3{
    font-size: 2rem;
    font-weight: 700;
    width: 90%;
    padding: 10px 0;
}
.n-btn{
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
/*----------------------------------------------------SECCION INICIO-----------------------------------------------------*/


/*---------------------------------------------------SECCION NOSOTROS----------------------------------------------------*/
/*------------------------------------------------------HISTORIA---------------------------------------------------------*/
.nosotros__historia{
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.nosotros__historia-img{
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    object-position: center center;
}
.nosotros__historia-info-title{
    color: #baaa33;
}
.nosotros__historia-info{
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
/*------------------------------------------------------HISTORIA---------------------------------------------------------*/
/*--------------------------------------------------------MVV------------------------------------------------------------*/
.nosotros__mvv{
    width: 100%;
    background-color: #2a0202;
}
.nosotros__mvv-list{
    padding: 30px 0;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.nosotros__mvv-item{
    width: 100%;
    max-width: 600px;
}
.nosotros__mvv-item-img{
    width: 100%;
}
.mvv-title{
    color: #baaa33;
}
/*--------------------------------------------------------MVV------------------------------------------------------------*/
/*------------------------------------------------------DOCENTES---------------------------------------------------------*/
.nosotros__docentes{
    background: linear-gradient(#000c1a, #2a0202);
    text-align: center;
    padding: 50px 0 70px 0;
    display: flex;
    flex-direction: column;
}
.nosotros__docentes-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nosotros__docentes-title h2{
    height: 60px;
    width: 85%;
    border-bottom: 1px solid #baaa33;
}
.nosotros__docentes-list{
    padding: 20px;
    gap: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
.nosotros__docentes-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 280px;
}
.nosotros__docentes-item-img{
    object-fit: cover;
    border: 1px solid #86868626;
    border-radius: 5px;
    height: 75%;
    width: 100%;
}
.nosotros__docentes-item h3{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nosotros__docentes-item h4{
    height: 10%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #baaa33;
}
/*------------------------------------------------------DOCENTES---------------------------------------------------------*/
/*---------------------------------------------------SECCION NOSOTROS----------------------------------------------------*/


/*----------------------------------------------------SECCION CLASES-----------------------------------------------------*/
/*------------------------------------------------------HERO CLASES------------------------------------------------------*/
.clases__hero{
    width: 100%;
}
.clases__hero-video{
    width: 100%;
    height: 88vh;
    background-color: #000000;
}
/*------------------------------------------------------HERO CLASES------------------------------------------------------*/
.clases{
    background: linear-gradient(#000c1a,#00030a);
    padding: 50px 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.clases__list{
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}
.clases__item:nth-child(2), .clases__item:nth-child(4){
    background-color: #2a0202;
    flex-flow: column-reverse;
}
.clases__item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #011328;
}
.clases__item-img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.clases__item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 35px;
    gap: 10px;
}
.clases__-item-info h3{
    color:#baaa33;
}
.clases__-item-btn{
    display: flex;
    gap: 10px;
}
/*----------------------------------------------------SECCION CLASES-----------------------------------------------------*/


/*---------------------------------------------------SECCION PROGRAMAS---------------------------------------------------*/
.programas{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(#000c1a,#00030a);
}
.programas-title{
    color: #baaa33;
}
.programas-list{
    padding: 30px 0;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.programas-item{
    position: relative;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
    height: 40dvh;
    width: 100%;
    max-width: 620px;
    background-color: #000000;
}
.programas-item:hover{
    box-shadow: 0px 2px 5px 0 #6a6a6a;
}
.programas-item-img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    border-radius: 5px;
}
.programas-info{
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    justify-content: space-evenly;
}
.programas-info ul{
    gap: 4px;
    display: flex;
    padding-left: 40px;
    flex-direction: column;
}
.programas-info ul li{
    list-style: square;
}
.programas-info div{
    width: 100%;
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
}
/*---------------------------------------------------SECCION PROGRAMAS---------------------------------------------------*/


/*--------------------------------------------------SECCION ACTIVIDADES--------------------------------------------------*/
/*--------------------------------------------------------GALERIA--------------------------------------------------------*/
.actividades__galery{
    padding: 80px 30px;
    background: linear-gradient(#000c1a,#00030a);
}
.actividades__galery-list{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto fill, 1fr);
    grid-template-rows: 330px;
    grid-gap: 15px;
    width: 100%;
}
.actividades__galery-item{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}
.actividades__galery-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.actividades__galery-item-info{
    transition: opacity 0.2s linear;
    opacity: 0;
    background-color: #000000b2;
    width: 100%;
    height: 100%;
    padding: 25px;
    z-index: 20;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}
.actividades__galery-item-info:hover{
    opacity: 1;
}
.actividades__galery-item-info p{
    width: 100%;
}
/*--------------------------------------------------------GALERIA--------------------------------------------------------*/
/*--------------------------------------------------SECCION ACTIVIDADES--------------------------------------------------*/


/*----------------------------------------------------SECCION CONTACTO---------------------------------------------------*/
.contacto__academia{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto__academia-container{
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacto__academia-list{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    gap: 10px;
}
.contacto__academia-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 100%;
}
.contacto__academia-info h4, .contacto__desarrollo h4{
    color: #cbcbcb;
}
.contacto__academia-item-icon{
    width: 80px;
}
.contacto__academia-item-redes-icon{
    width: 35px;
}
.contacto__academia-ubicacion{
    width: 100%;
    height: auto;
    padding: 30px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacto__academia-ubicacion-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacto__academia-ubicacion-mapa{
    width: 100%;
    height: 70dvh;
}
.contacto__desarrollo{
    flex-direction: column;
    display: flex;
    padding: 30px;
    width: 100%;
    gap: 30px;
}
.contacto__desarrollo-uptaeb, .contacto__desarrollo-devs, .contacto__academia-item{    
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 50dvh;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px 0px #121212;
}
.contacto__academia-item{
    background: linear-gradient(#000000c1), url("../img/27eb242d086793eb602e44319679ecf6.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.contacto__desarrollo-uptaeb, .contacto__desarrollo-devs{
    background: linear-gradient(#000000c1), url("../img/360_F_321862768_UkKvWBv7XUhgeCtBx3mW1829qGnrqanB.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.contacto__desarrollo-uptaeb-icon{
    width: 100px;
}
.lca{
    background-color: #ffffff;
    border-radius: 100%;
}
/*----------------------------------------------------SECCION CONTACTO---------------------------------------------------*/
/*------------------------------------------------------ANIMACIONES------------------------------------------------------*/
@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*------------------------------------------------------ANIMACIONES------------------------------------------------------*/
/*-------------------------------------------------------RESPONSIVE------------------------------------------------------*/
@media (min-width:750px){
    html{
    font-size: 16px;
    }
    .header__nav{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    }
    .header__nav-list{
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 70px;
    margin-right: 30px;
    }
    .header__open-nav-button{
    display: none;
    }
    .btn-1 a,.btn-2 a{
    font-size: 1.2em;
    }
    .nosotros__historia{
    margin: 50px auto;
    flex-direction: row;
    }
    .nosotros__historia-img{
    width: 45%;
    height: 70dvh;
    }
    .nosotros__historia-info{
    width: 55%;
    }
    .clases__item{
    flex-wrap: nowrap;
    width: 100%;
    }
    .clases__item-img{
    width: 50%;
    height: 500px;
    }
    .clases__item-info{
    width: 50%;
    }
    .clases__item:nth-child(2), .clases__item:nth-child(4){
    background-color: #2a0202;
    flex-flow: nowrap;
    }
    .actividades__galery-list{
    grid-template-columns: repeat(3, 1fr);
    }
    .actividades__galery-item:nth-child(1), .actividades__galery-item:nth-child(4){
    grid-column-start: span 2;
    }
    .actividades__galery-item-info p{
    width: 70%;
    }
    .contacto__academia-container{
    flex-direction: row;
    }
    .contacto__desarrollo{
    flex-direction: row;
    }
}
/*-------------------------------------------------------RESPONSIVE------------------------------------------------------*/